.card{
    .card-text{

        a{
          display: block;
          width: 100px;
          height: 40px;
          line-height: 40px;
          font-size: 18px;
          font-family: sans-serif;
          text-decoration: none;
          color: #333;
          border: 1px solid #91b3f9;
          border-radius: 10px;
          letter-spacing: 2px;
          text-align: center;
          position: relative;
          transition: all .35s;
        }
        
        a span{
          position: relative;
          z-index: 2;
        }
        
        a:after{
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background:  #91b3f9;
          border: none;
          transition: all .35s;
          border-radius: 10px;
          border: none;
        }
        
        a:hover{
          color: #fff;
        }
        
        a:hover:after{
          width: 100%;
        }
    }
}